<html style="background: #000;">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon/manifest.json">
    <meta name="referrer" content="no-referrer">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/img/favicon/ms-icon-144x144.png">
    {% if autocomplete_enabled == '1' %}
        <script src="{{ cb_url('autocomplete.js') }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ cb_url('controller.js') }}"></script>
    <link rel="search" href="opensearch.xml" type="application/opensearchdescription+xml" title="Whoogle Search">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ cb_url('logo.css') }}">
    {% if config.theme %}
        {% if config.theme == 'system' %}
            <style>
                @import "{{ cb_url('light-theme.css') }}" screen;
                @import "{{ cb_url('dark-theme.css') }}" screen and (prefers-color-scheme: dark);
            </style>
        {% else %}
            <link rel="stylesheet" href="{{ cb_url(config.theme + '-theme.css') }}"/>
        {% endif %}
    {% else %}
        <link rel="stylesheet" href="{{ cb_url(('dark' if config.dark else 'light') + '-theme.css') }}"/>
    {% endif %}
    <link rel="stylesheet" href="{{ cb_url('main.css') }}">
    <noscript>
        <style>
            #main {
                display: inherit !important;
            }

            .content {
                max-height: 400px;
                padding: 18px;
                border-radius: 10px;
                overflow-y: scroll;
            }

            .collapsible {
                display: none;
            }
        </style>
    </noscript>
    <style>{{ config.style }}</style>
    <title>Sofin Search</title>
</head>
<body id="main">
<div class="search-container">
    <form id="search-form" action="search" method="{{ 'get' if config.get_only else 'post' }}">
        <div class="search-fields">
            <div class="autocomplete">
                {% if config.preferences %}
                    <input type="hidden" name="preferences" value="{{ config.preferences }}" />
                {% endif %}
                <input
                        type="text"
                        name="q"
                        id="search-bar"
                        class="home-search"
                        autofocus="autofocus"
                        autocapitalize="none"
                        spellcheck="false"
                        autocorrect="off"
                        autocomplete="off"
                        dir="auto">
            </div>
            <input type="submit" id="search-submit" value="{{ translation['search'] }}">
        </div>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>
